/*======METHOD 1 GRID LINE NUMBERS=====*/
/*
.containers {
	background-color: #fff;
  width: 1000px;
  margin: 30px auto;
  //margin: 10px 14px;
  display: grid;
  grid-template-rows: repeat(4, 150px);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.items {
  background-color: red;
  //margin: 10px 14px;
  padding: 10px 14px;
  font-size: 24px;
  color: #fff;
  
}
.header {
  grid-column: 1 / -1;
}
.small-box1 {
  //grid-area:1/3/2/2;
}
.small-box2 {
 // grid-area:2/3/2/3;
}
.small-box3 {
 // grid-area:3/4/2/4;
}
.sidebar {
  grid-column: 4/4;
  grid-row:2/5;
}
.main_content {
  grid-column: 1/4;
  grid-row: 3/5;
}

.footer {
  grid-column: 1 / -1;
}
*?

/*======METHOD 2 GRID LINE NAMES=====*/

.containers {
	background-color: #fff;
  width: 1000px;
  margin: 30px auto;
  //margin: 10px 14px;
  display: grid;
  grid-template-rows: [header-start] 100px [header-end box-start] 200px [box-end main-start] 400px [main-end footer-start] 100px [footer-end];
  grid-template-columns: repeat(3,[col-start] 1fr [col-end]) 200px [grid-end];
  grid-gap: 15px;
}

.items {
  background-color: red;
  //margin: 10px 14px;
  padding: 10px 14px;
  font-size: 24px;
  color: #fff;
  
}
.header {
  grid-column: col-start 1 / grid-end;
}
.small-box1 {
  //grid-area:1/3/2/2;
}
.small-box2 {
 // grid-area:2/3/2/3;
}
.small-box3 {
 // grid-area:3/4/2/4;
}
.sidebar {
  grid-column: col-end 3 / grid-end;
  grid-row:box-start / main-end;
}
.main_content {
  grid-column: col-start 1 / col-end 3;
}

.footer {
  grid-column: col-start 1 / grid-end;
}