.body {
    background-color: lightskyblue;
}
.intro {
    background-color:lightskyblue;
    width: 40%;
    padding: 25px;
    border-radius: 10px;

}
.title {
    text-align: center;
    width: 150px;
    margin: 20px auto;
    background-color: lightskyblue;
    padding: 4px;
  border-radius: 10px;
}
.container {
    width: 1000px;
    margin: 30px auto;
    background-color: #ddd;
    
  display: grid;
  /* using min-conten and max-content */
  /*grid-template-rows:repeat(2, 150px);*/
  grid-template-columns:min-content 1fr 1fr min-content; /* using max-conent adds to the space of the grid/block
                                                            using min-content the block cuts out of view causing over flow*/
  /*grid-template-rows 150px, min-content;*/
  /*grid-template-rows:repeat(2, min-content);*/
  
  /* using minmax function*/
  width: 90%;
  grid-template-rows:repeat(2, minmax(150px, min-content)); /* min content sticks to min content*/
  grid-template-columns: minmax(200px, 1fr) repeat(3, 1fr); /*minmax function states the min width and max width content */

  }

  .item {
    padding: 20px;
    color: #fff;
    font-family: sans-sefif;
    font-size: 30px;
    background-color: red;
  }


.item--1 {
      background-color: red;
}
.item--2 {
      background-color: yellowgreen;
}
.item--3 {
      background-color: blueviolet;
}
.item--4 {
      background-color: palevioletred;
}
.item--5 {
      background-color: royalblue;
}
.item--6 {
      background-color: goldenrod;
}
.item--7 {
      background-color: crimson;
}
.item--8 {
      background-color: darkslategray;
}